@import url(./variaveis.css);

.main {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

.card {
  align-items: center;
  background-color: var(--bg-card);
  border-radius: 1.25rem;
  height: 499px;
  padding: 1rem;
  width: 320px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.title {
  color: var(--cor-titulo);
  font-weight: bold;
  font-size: 1.375rem;
  letter-spacing: 0px;
  line-height: 120%;
  padding-inline: 1rem;
}

.description {
  color: var(--cor-descricao);
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 140%;
  padding-inline: 1rem;
}

.qr__code{
  border-radius: 0.625rem;
  display: block;
  margin: 0 auto;
  width: 288px;
}

.attribution {
  bottom: 1.25rem;
  font-size: 0.6875rem;
  position: absolute;
  text-align: center;
}

.attribution a {
  color: var(--cor-link);
}


@media (max-width: 375px) {
  .card {
    width: 300px;
    height: auto;
  }
  .qr__code {
    width: 250px;
  }
  .attribution {
    bottom: 10px;
  }
}
